# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\thoma\Documents\M1_Neurasmus\NeuroBIM_M1\Internship\GitRepo\PathoSpreading\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
